.btn-demo-primary,
.btn-demo-primary-dark,
.btn-demo-secondary,
.btn-demo-default {
  align-items: center;
  color: #fff;
  height: 50px;
  justify-content: center;
  letter-spacing: 1px;
  text-transform: uppercase;

  &:hover,
  &:active,
  &.active,
  &:active:focus,
  &:focus {
    color: inherit;
  }
}

.btn-demo-primary {
  &:hover,
  &:active,
  &:active:focus,
  &:focus {
    color: inherit;
    background-color:#3E7B02;
  }
}
.btn-demo-primary-dark {
  color: #fff;

  &:hover,
  &:active,
  &:active:focus,
  &:focus {
    color: #fff;
    background-color: #3E7B02;
  }
}

.btn-demo-secondary {
  &:hover,
  &:active,
  &:active:focus,
  &:focus {
    background-color:#3E7B02;
  }
}

.btn-demo-default {
  &:hover,
  &:active,
  &:active:focus,
  &:focus {
    background-color:#3E7B02;
  }
}
