@media (min-width: 0) {
    .cta-section {
        padding: 0px 0px 100px;
        .cta-content {
            width: 100%;
            max-width: 1360px;
            margin: 0px auto;
            padding: 30px 20px;
            border-radius: 20px;
            background: #272727 0% 0% no-repeat padding-box;
            border: 1px solid rgba(255, 255, 255, 0.5019607843);
            opacity: 0.95;
            -webkit-filter: blur(0px);
            filter: blur(0px);
            align-items: center;
            justify-content: space-between;

            .cta-left {
                h2 {
                    color: #ff214f;
                    font-size: 30px;
                    font-family: "IM";
                    margin-bottom: 10px;
                }
                p {
                    font-size: 18px;
                    line-height: 21px;
                    font-family: "IT";
                }
            }

            .cta-right {
                display: contents;
                width: fit-content;
                a {
                    margin-top: 30px;
                }
            }
        }
    }
}
@media (min-width: 576px) {
}
@media (min-width: 768px) {
    .cta-section {
        padding: 0px 0px 100px;
        .cta-content {
            padding: 65px 20px;

            .cta-left {
                h2 {
                    font-size: 36px;
                }
            }

            .cta-right {
                a {
                    margin-top: 0px;
                }
            }
        }
    }
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
@media (min-width: 1400px) {
}
