@media (min-width: map-get($grid-breakpoints, 'xs')) {
  footer {
    background-color: #3E7B02;
    border-top: 1px solid #1e1e1e;

    .footer-wrapper {
      position: relative;
      padding-top: 174px;
      padding-bottom: 43px;

      .footer-logo {
        display: block;
        height: 75px;
        left: 0;
        position: absolute;
        top: 0;
        width: 105px;
        z-index: 0;

        .logo {
          background-color: #fffefd;
          border-right: 1px solid #1e1e1e;
          border-left: 1px solid #1e1e1e;
          display: flex;
          height: 100%;
          justify-content: center;
          padding-top: 32px;
          position: relative;

          &::before {
            background-color: #fffefd;
            border-right: 1px solid #1e1e1e;
            border-left: 1px solid #1e1e1e;
            border-bottom: 1px solid #1e1e1e;
            border-radius: 50%;
            content: '';
            display: block;
            width: 105px;
            height: 105px;
            position: absolute;
            top: 21px;
            z-index: -1;
          }
        }
      }

      .footer-right {
        position: absolute;
        top: -54px;
        right: 0;
        z-index: 0;

        .social-icons {
          display: flex;
          justify-content: space-evenly;
          list-style: none;
          margin-top: 18.55px;
          margin-bottom: 0;
          padding-left: 0;

          .icon {
            a {
              color: #1e1e1e;
              font-size: 31px;
              text-decoration: none;
            }
          }
        }
      }

      .footer-inner {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .footer-menus {
          display: flex;
          justify-content: space-between;
          text-align: center;

          .menu {
            list-style: none;
            margin-bottom: 0;
            padding-left: 0;

            &:not(:last-child) {
              padding-right: 50px;
            }

            .item {
              .link {
                color: #1e1e1e;
                font-size: 12px;
                line-height: 14px;
                letter-spacing: 0.1em;
                text-decoration: none;
                text-transform: uppercase;
              }

              &:not(:last-child) {
                padding-bottom: 50px;
              }
            }
          }
        }

        .news-letter {
          margin-top: 50px;
          max-width: 100%;
          width: 480px;

          .title {
            font-family: arial;
            font-size: 36px;
            font-weight: 700;
            line-height: 45px;
            text-align: center;
            margin-bottom: 0;
          }

          .action-area {
            padding-top: 15px;
            padding-bottom: 20px;

            .subscribe-form {
              align-items: center;
              border-bottom: 1px solid #1e1e1e;
              display: flex;
              justify-content: space-between;

              .subscribe-email {
                background-color: transparent;
                border: none;
                color: #1e1e1e;
                flex-grow: 1;
                font-size: 12px;
                line-height: 14px;
                letter-spacing: 0.1em;
                outline: none;
                padding: 15px 0;

                &::placeholder {
                  color: #1e1e1e;
                  opacity: 1;
                }
              }

              .btn-sign-up {
                background-color: transparent;
                border: none;
                color: #1e1e1e;
                font-size: 12px;
                font-weight: 700;
                line-height: 14px;
                padding: 15px 0;
              }
            }
          }

          .response {
            border-radius: 0;
            padding-top: 0;
            padding-bottom: 0;

            .btn-close {
              padding: 4px;
            }
          }
        }

        .payment-methods {
          margin-top: 20.26px;
          text-align: center;

          .method {
            max-width: 52.46px;

            &:not(:last-child) {
              margin-right: 4px;
              margin-bottom: 4px;
            }
          }
        }

        .copyright {
          margin-top: 26.85px;
          text-align: center;
        }
      }
    }
  }
}
@media (min-width: map-get($grid-breakpoints, 'sm')) {
}
@media (min-width: map-get($grid-breakpoints, 'md')) {
}
@media (min-width: map-get($grid-breakpoints, 'lg')) {
  footer {
    .footer-wrapper {
      padding-top: 173px;
      padding-bottom: 78px;

      .footer-logo {
        width: 163px;
        height: 116px;

        .logo {
          padding-top: 49px;

          &::before {
            height: 163px;
            width: 163px;
            top: 31px;
          }
        }
      }

      .footer-right {
        top: -82px;
      }

      .footer-inner {
        align-items: flex-end;
        flex-direction: row;
        justify-content: space-between;

        .left-area {
          .copyright {
            margin-top: 0;
            text-align: left;

            strong {
              display: block;
            }
          }

          .social-icons {
            display: flex;
            list-style: none;
            margin-top: 30px;
            margin-bottom: 0;
            padding-left: 0;

            .icon {
              &:not(:last-child) {
                margin-right: 30px;
              }

              a {
                color: #1e1e1e;
                font-size: 23px;
                text-decoration: none;
              }
            }
          }
        }

        .right-area {
          .right-inner {
            display: flex;
            justify-content: space-between;

            > {
              *:not(:last-child) {
                margin-right: 50px;
              }
            }

            .footer-menus {
              width: 306px;
              text-align: left;

              .menu {
                &:not(:last-child) {
                  padding-right: 50px;
                }

                .item {
                  .link {
                    font-size: 16px;
                    line-height: 18px;
                  }

                  &:not(:last-child) {
                    padding-bottom: 56px;
                  }
                }
              }
            }

            .footer-end {
              .news-letter {
                width: 407px;

                .title {
                  font-family: arial;
                  font-size: 48px;
                  font-weight: 700;
                  line-height: 61px;
                  text-align: left;
                }

                .action-area {
                  padding-top: 27px;
                  padding-bottom: 26px;

                  .subscribe-form {
                    .subscribe-email {
                      font-size: 14px;
                      line-height: 16px;
                    }

                    .btn-sign-up {
                      font-size: 14px;
                      line-height: 16px;
                    }
                  }
                }
              }

              .payment-methods {
                margin-top: 50px;
                text-align: left;

                .method {
                  max-width: unset;

                  &:not(:last-child) {
                    margin-right: 5px;
                    margin-bottom: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (min-width: map-get($grid-breakpoints, 'xl')) {
  footer {
    .footer-wrapper {
      .footer-inner {
        .right-area {
          .right-inner {
            > {
              *:not(:last-child) {
                margin-right: 92px;
              }
            }
          }
        }
      }
    }
  }
}
@media (min-width: map-get($grid-breakpoints, 'xxl')) {
}
