@media (min-width: 0) {
    header{
        .navbar{
            .navbar-nav {
                a {
                    color: #fff;
                    font-size: 14px;
                    text-transform: uppercase;
                    text-decoration: none;
                    font-family: arial;
                    margin-left: 50px;
                }
            }
        }
    }
}
@media (min-width: 768px) {

}
@media (min-width:992px) {
   
}
@media (min-width:1200px) {
   
}
@media (min-width:1400px) {
   
}