@media (min-width: 0) {
  header {
    background-color: #101010;
    padding: 10px 0px;
    .navbar {
      .navbar-nav {
        a {
          color: #fff;
          text-transform: uppercase;
          text-decoration: none;
          font-family: "IM";
          width: 100%;
          text-align: center;
          font-size: 14px;
          margin: 10px 0px;
        }
      }
      .logo {
        img {
          filter: invert(1);
        }
      }
    }
  }
}
@media (min-width: 768px) {
  header {
    .navbar {
      .navbar-nav {
        a {
          width: auto;
          text-align: unset;
          font-size: 16px;
          margin: 0px 0px 0px 30px;
        }
      }
    }
  }
}
@media (min-width: 992px) {
  header {
    .navbar {
      .navbar-nav {
        a {
          margin-left: 40px;
        }
      }
    }
  }
}
@media (min-width: 1200px) {
  header {
    .navbar {
      .navbar-nav {
        a {
          margin-left: 60px;
        }
      }
    }
  }
}
