@media (min-width: map-get($grid-breakpoints, 'xs')) {
  header {

    .bottom-header {
      background-color: #fffefd;
      border-bottom: 1px solid #1e1e1e;
      position: relative;
      z-index: 9;

      
    }

    .mega-menu {
      background-color: #fffefd;
      bottom: 100%;
      display: flex;
      height: calc(100% - 121px);
      left: 0;
      position: fixed;
      transition: bottom 0.1s linear, height 0.3s ease;
      width: 100%;

      &.show {
        bottom: 0;
      }

      .menu-wrapper {
        height: 100%;
        overflow-y: auto;
        position: relative;

        .close-menu {
          align-items: center;
          background-color: transparent;
          border: none;
          display: flex;
          justify-content: space-between;
          height: 45px;
          padding: 13.5px;
          position: absolute;
          right: 0;
          top: 0;
          width: 45px;
          z-index: 9;

          &::after,
          &::before {
            border-left: 1px solid #1e1e1e;
            display: inline-block;
            content: '';
            height: 18px;
            left: 50%;
            position: absolute;
            top: 50%;
            width: 0;
          }

          &::before {
            transform: translate(-50%, -50%) rotate(45deg);
          }

          &::after {
            transform: translate(-50%, -50%) rotate(-45deg);
          }
        }

        .menu-area {
          width: 100%;

          .menu {
            padding-top: 66px;
            padding-bottom: 63px;
            padding-left: 0;
            margin-bottom: 0;
            min-width: 140px;
            list-style: none;
            text-align: center;

            .item {
              padding-top: 15px;
              padding-bottom: 15px;

              .link {
                color: #1e1e1e;
                font-size: 14px;
                line-height: 16px;
                letter-spacing: 0.1em;
                text-decoration: none;
                text-transform: uppercase;

                &.active,
                &:hover {
                  font-weight: 700;
                }
              }
            }
          }
        }
      }
    }

    .background-overlay {
      background-color: rgb(30, 30, 30, 0.5);
      cursor: url('./project/img/cross.svg'), url('./project/img/cross.png'),
        zoom-out;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 10;
    }

    .search-box {
      align-items: center;
      border-bottom: 5px solid #f1f1f1;
      display: flex;
      height: 50px;
      justify-content: space-between;
      left: 0;
      margin-left: 20px;
      margin-right: 20px;
      position: fixed;
      top: 50%;
      transform: translateY(-50%);
      width: calc(100% - 40px);
      z-index: 11;

      .search-input {
        background-color: transparent;
        border: none;
        color: #ffffff;
        flex-grow: 1;
        font-size: 20px;
        line-height: 1;
        outline: none;
        padding: 0;

        &::placeholder {
          color: #ffffff;
          opacity: 1;
        }
      }

      .btn-search {
        background-color: transparent;
        border: none;
        color: #ffffff;
        font-size: 20px;
        line-height: 1;
        padding: 0;
      }
    }

    .flying-cart {
      background-color: #fffefd;
      bottom: 0;
      height: calc(100vh - 121px);
      padding: 15px 20px;
      position: fixed;
      right: 0;
      transform: translateX(100%);
      transition: transform 0.5s ease, height 0.3s;
      width: 100%;
      z-index: 11;

      &.show {
        transform: translateX(0);
      }

      .wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;

        .cart-title {
          align-items: center;
          display: flex;
          flex-shrink: 1;
          margin-bottom: 10px;

          .title {
            flex-grow: 1;
            font-family: arial;
            font-size: 36px;
            font-weight: 700;
            line-height: 45px;
            margin-bottom: 0;
          }

          .btn-dismiss {
            background-color: transparent;
            border: none;
            height: 18px;
            position: absolute;
            width: 18px;
            right: 30px;

            &::after,
            &::before {
              background-color: #1e1e1e;
              border-radius: 10px;
              content: '';
              display: inline-block;
              height: 100%;
              left: 50%;
              position: absolute;
              top: 50%;
              transform-origin: center;
              width: 1px;
            }

            &::after {
              transform: translate(-50%, -50%) rotate(-45deg);
            }

            &::before {
              transform: translate(-50%, -50%) rotate(45deg);
            }
          }
        }

        .cart-content {
          display: flex;
          flex-direction: column;
          flex-grow: 1;

          .cart-list {
            flex-grow: 1;
            list-style: none;
            margin-bottom: 0;
            max-height: calc(100vh - 354px);
            overflow: auto;
            padding: 10px 0;

            &::-webkit-scrollbar {
              border-radius: 0;
              background-color: #fffefd;
              height: 3px;
              width: 3px;
            }

            &::-webkit-scrollbar-thumb {
              background: #1e1e1e;
              border-radius: 0;
            }

            &::-webkit-scrollbar-track {
              border-radius: 0;
            }

            .cart-item {
              align-items: center;
              display: flex;
              margin-bottom: 10px;

              .item-image {
                align-items: center;
                display: flex;
                height: 190px;
                justify-content: center;
                margin-right: 20px;
                padding: 20px;
                width: 153px;

                img {
                  max-width: 100%;
                  height: auto;
                }
              }

              .item-content {
                flex-grow: 1;

                .item-name {
                  font-size: 16px;
                  font-weight: 300;
                  line-height: 26px;
                }

                .item-amount {
                  font-size: 16px;
                  font-weight: 300;
                  line-height: 26px;

                  .money {
                    font-weight: 700;
                  }
                }
              }
            }
          }

          .cart-empty {
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: center;

            .message {
              font-family: arial;
              font-size: 48px;
              font-weight: 300;
              line-height: 61px;
              margin-bottom: 0;
              padding: 40px 0;
              text-align: center;
            }

            .cart-return {
              text-align: center;
            }
          }

          .cart-meta {
            flex-shrink: 1;
            padding-bottom: 11px;

            .cart-rule {
              background-color: #1e1e1e;
              opacity: 1;
              margin-bottom: 20px;
              margin-top: 10px;
            }

            .cart-total {
              display: flex;
              font-size: 16px;
              font-weight: 300;
              justify-content: space-between;
              line-height: 26px;
              margin-bottom: 30px;

              .money {
                font-weight: 700;
              }
            }

            .cart-actions {
              display: flex;
              justify-content: space-between;

              .btn {
                width: 46.19%;
              }
            }
          }
        }
      }
    }

    &.shrinked {
      .mega-menu {
        height: calc(100% - 71px);
      }

      .flying-cart {
        height: calc(100% - 71px);
      }
    }
  }

  .account-modal {
    .modal-dialog {
      align-items: flex-end;
      margin: 0;
      min-height: 100%;
      max-width: unset;

      .modal-content {
        border: none;
        border-radius: 0;
        padding: 20px 0;
        height: calc(100vh - 121px);
        overflow: auto;

        &::-webkit-scrollbar {
          border-radius: 0;
          background-color: #fffefd;
          height: 3px;
          width: 3px;
        }

        &::-webkit-scrollbar-thumb {
          background: #1e1e1e;
          border-radius: 0;
        }

        &::-webkit-scrollbar-track {
          border-radius: 0;
        }

        .modal-body {
          padding: 0;

          .btn-dismiss {
            background-color: transparent;
            border: none;
            height: 18px;
            position: absolute;
            width: 18px;
            right: 30px;

            &::after,
            &::before {
              background-color: #1e1e1e;
              border-radius: 10px;
              content: '';
              display: inline-block;
              height: 100%;
              left: 50%;
              position: absolute;
              top: 50%;
              transform-origin: center;
              width: 1px;
            }

            &::after {
              transform: translate(-50%, -50%) rotate(-45deg);
            }

            &::before {
              transform: translate(-50%, -50%) rotate(45deg);
            }
          }

          // Account Inner Modal //

          .modal-form,
          .reset-account-form {
            display: flex;
            flex-direction: column;

            input[type='checkbox'] {
              box-sizing: border-box;
              width: 25px;
              height: 25px;
              margin-bottom: 20px;
              margin-left: 5px;
            }

            .form-header {
              padding-bottom: 25px;
              border-bottom: 1px solid #1e1e1e;

              h4 {
                color: #1e1e1e;
                font-family: arial;
                font-size: 36px;
                font-weight: 700;
                line-height: 33px;
                margin-left: 20px;
                margin-bottom: 0;
              }
            }

            .form-field {
              padding-top: 25px;
              padding-left: 107px;
              padding-right: 106px;

              .field {
                margin-bottom: 15px;

                select {
                  border: none;
                  border-bottom: 1px solid #1e1e1e;
                  color: #1e1e1e;
                  font-size: 14px;
                  line-height: 16px;
                  letter-spacing: 0.1em;
                  outline: none;
                  padding: 14px 0;
                  width: 90%;
                  background-color: #ffffff;
                }

                input {
                  border: none;
                  border-bottom: 1px solid #1e1e1e;
                  color: #1e1e1e;
                  font-size: 14px;
                  line-height: 16px;
                  letter-spacing: 0.1em;
                  outline: none;
                  padding: 15px 0;
                  width: 100%;
                }

                .btn-submit {
                  margin-top: 25px;
                  width: 195px;
                }
              }
            }
          }

          .nav {
            border-bottom: 1px solid #1e1e1e;
            padding-left: 20px;
            padding-bottom: 20px;
            padding-right: 20px;

            .nav-item {
              &:not(:last-child) {
                margin-right: 20px;
              }

              .nav-link {
                color: #1e1e1e;
                font-family: arial;
                font-size: 36px;
                font-weight: 700;
                line-height: 45px;
                opacity: 0.5;
                padding: 0;

                &:hover,
                &.active {
                  opacity: 1;
                }
              }
            }
          }

          .tab-content {
            padding-top: 15px;
            padding-left: 20px;
            padding-right: 20px;

            .field {
              margin-bottom: 15px;

              input {
                border: none;
                border-bottom: 1px solid #1e1e1e;
                color: #1e1e1e;
                font-size: 14px;
                line-height: 16px;
                letter-spacing: 0.1em;
                outline: none;
                padding: 15px 0;
                width: 100%;
              }

              .btn-back,
              .btn-forgot {
                background-color: transparent;
                border: none;
                color: #1e1e1e;
                font-size: 16px;
                font-weight: 700;
                line-height: 26px;
                padding: 0;
              }

              .btn-back {
                margin-top: 15px;
              }

              .btn-forgot {
                margin-top: 20px;
              }

              .btn-dismiss-modal,
              .btn-submit,
              .btn-register {
                margin-top: 15px;
                width: 158px;
              }

              .btn-register {
                margin-left: 12px;
              }
            }
          }
        }
      }
    }
  }

  .header-shrinked {
    .account-modal {
      .modal-dialog {
        .modal-content {
          height: calc(100vh - 71px);
        }
      }
    }
  }
}
@media (min-width: map-get($grid-breakpoints, 'sm')) {
}
@media (min-width: map-get($grid-breakpoints, 'md')) {
}
@media (min-width: map-get($grid-breakpoints, 'lg')) {
  header {
    .bottom-header {
      .header-inner {
        height: 92px;

        .logo {
          margin-right: 50px;
        }

        .navigation {
          margin-left: 50px;

          .menu-wrapper {
            .menu-item {
              &:not(:last-child) {
                margin-right: 60px;
              }

              button,
              a {
                font-size: 14px;
                line-height: 16px;
              }

              .toggle-cart {
                .label {
                  margin-right: 20px;
                }
              }
            }
          }
        }
      }
    }

    .mega-menu {
      height: calc(100% - 143px);

      &::before {
        border-left: 1px solid #1e1e1e;
        content: '';
        width: 0;
        height: 100%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }

      .menu-wrapper {
        display: flex;
        justify-content: space-between;

        .menu-area {
          align-items: center;
          display: flex;
          height: 100%;
          justify-content: center;
          flex: 1 1 auto;
          width: 50%;

          .menu {
            text-align: left;

            .item {
              padding-top: 20px;
              padding-bottom: 20px;

              .link {
                font-size: 16px;
                line-height: 18px;
              }
            }
          }
        }

        .preview-area {
          align-items: center;
          display: flex;
          height: 100%;
          justify-content: center;
          flex: 1 1 auto;
          width: 50%;
        }
      }
    }

    .search-box {
      height: 100px;
      margin-left: 90px;
      margin-right: 90px;
      width: calc(100% - 180px);

      .search-input {
        font-size: 80px;
      }

      .btn-search {
        font-size: 80px;
      }
    }

    .flying-cart {
      height: 100%;
      padding: 30px 50px;
      width: 603px;

      .wrapper {
        .cart-title {
          margin-bottom: 20px;

          .title {
            font-size: 48px;
            line-height: 61px;
          }
        }

        .cart-content {
          .cart-list {
            max-height: calc(100vh - 309px);

            .cart-item {
              .item-content {
                .item-name,
                .item-amount {
                  font-size: 18px;
                  line-height: 28px;
                }
              }
            }
          }
        }

        .cart-meta {
          padding-bottom: 31px;

          .cart-rule {
            margin-bottom: 30px;
          }
        }
      }
    }

    &.shrinked {
      .mega-menu {
        height: calc(100% - 93px);
      }

      .flying-cart {
        height: 100%;
      }
    }
  }

  .account-modal {
    .modal-dialog {
      align-items: center;
      margin: 1.75rem auto;
      max-width: 620px;
      min-height: calc(100% - 3.5rem);

      .modal-content {
        height: 505px;
        padding: 30px 0;
        overflow: hidden;

        .modal-body {
          .nav {
            padding-left: 107px;
            padding-right: 106px;

            .nav-item {
              &:not(:last-child) {
                margin-right: 30px;
              }

              .nav-link {
                font-size: 48px;
                line-height: 61px;
              }
            }
          }

          .tab-content {
            padding-top: 25px;
            padding-left: 107px;
            padding-right: 106px;

            .field {
              .btn-back {
                margin-top: 25px;
              }

              .btn-forgot {
                margin-top: 10px;
              }

              .btn-dismiss-modal,
              .btn-submit,
              .btn-register {
                margin-top: 25px;
                width: 195px;
              }
            }
          }
        }
      }
    }
  }

  .header-shrinked {
    .account-modal {
      .modal-dialog {
        .modal-content {
          height: 505px;
        }
      }
    }
  }
}
@media (min-width: map-get($grid-breakpoints, 'xl')) {
}
@media (min-width: map-get($grid-breakpoints, 'xxl')) {
}
