@media (min-width:0) {
    .newsletter{
        background-color: #f8f8f8;
        .newsletter-grid{
            width:100%;
            max-width: 500px;
            margin: 0px auto;
            .newsletter-content{
                .newsletter-header{
                    h3{
                        font-weight: 700;
                        margin-bottom:30px;
                    }
                }
                .subscribe-form{
                    input {
                        padding: 10px;
                        border-radius: 5px;
                        border: 1px solid rgba(0,0,0,0.4);
                        margin-bottom: 15px;
                        &:focus{
                            outline: none;
                            box-shadow: none;
                        }
                    }
                    .subscribe-btn {
                        background-color: #3E7B02;
                        color: #fff;
                        border-radius: 10px;
                        padding: 10px 20px;
                    }
                }
            }
        }
    }
}
@media (min-width:576px) {

}
@media (min-width:768px) {

}
@media (min-width:992px) {

}
@media (min-width:1200px) {

}



