@media (min-width: 0) {
    .blog-listing {
        padding: 50px 0px;

        .entry-title {
            h3 {
                position: relative;
                padding-left: 50px;
                margin-bottom: 20px;

                &::before {
                    position: absolute;
                    content: "";
                    width: 30px;
                    border-bottom: 1px solid #fff;
                    top: 50%;
                    left: 0;
                }
            }
        }
        .blog-post {
            border: 1px solid rgba(255, 255, 255, 0.1);
            box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.1);

            .post-details {
                padding: 20px;

                .post-title {
                    font-size: 20px;
                    color: #ff214f;
                    font-family: "IR";
                    margin-bottom: 10px;
                }
                .post-author {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 10px;

                    span {
                        font-size: 14px;
                        font-family: "IT";
                    }
                }
            }
        }
    }
}
@media (min-width: 576px) {
}
@media (min-width: 768px) {
    .blog-listing {
        padding: 75px 0px;

        .entry-title {
            h3 {
                padding-left: 80px;
                margin-bottom: 30px;

                &::before {
                    width: 50px;
                }
            }
        }
    }
}
@media (min-width: 992px) {
    .blog-listing {
        padding: 100px 0px;

        .entry-title {
            h3 {
                padding-left: 116px;

                &::before {
                    width: 76px;
                }
            }
        }
    }
}
@media (min-width: 1200px) {
}
@media (min-width: 1400px) {
}
@media (min-width: 1640px) {
}
