@media (min-width: 0) {
    .develop-app {
        padding: 50px 0px;
        .template-left {
            h3 {
                font-size: 24px;
                line-height: 29px;
                font-family: "IT";
                color: #fff;
                margin-top: 16px;
            }
            ul {
                margin-top: 8px;
                list-style: disc;
                padding-left: 15px;

                li {
                    font-size: 18px;
                    line-height: 21px;
                    margin-bottom: 16px;
                    font-family: "IR";
                }
            }
            a {
                margin-top: 20px;
                display: inline-flex;
            }
        }
    }
}
@media (min-width: 576px) {
}
@media (min-width: 768px) {
    .develop-app {
        padding: 100px 0px;
        .template-left {
            h3 {
                font-size: 48px;
                line-height: 59px;
                margin-top: 16px;
                margin-top: 0px;
            }
            ul {
                margin-top: 40px;

                li {
                    font-size: 18px;
                    line-height: 21px;
                    margin-bottom: 20px;
                    font-family: "IR";
                }
            }
            a {
                margin-top: 20px;
                display: inline-flex;
            }
        }
    }
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
@media (min-width: 1400px) {
}
