@media (min-width:0) {
  .about-us-banner{
    height:400px;
    position: relative;

    .bg-layer{
      width:100%;
      position: absolute;
      top:0;
      left:0;
      right:0;
      height: 100%;
      background-color: rgba(0,0,0,0.4);
    }
    .banner-content-outer{
      display: flex;
      align-items: center;
      justify-content: center;

      .about-banner-content{
        text-align: center;
        color:#fff;
        position: relative;
        width:100%;
        max-width:500px;
        margin:0px auto;
        z-index: 9;
      }
    }
  }
  .why-choose-us{
    background-color: #F8F8F8;

    .why-choose-left{
      h3{
        font-size:30px;
        font-weight: 700;
        margin:0;
      }
      p{
        font-size:16px;
        line-height:28px;
        padding-top: 20px;
      }
    }
    .why-choose-left-image{
      min-height: 300px;
    }
  }
  .our-services{
    .our-service-card{
      box-shadow:0px 0px 1px 1px rgba(0,0,0,0.4);
      padding:20px;
      text-align:center;

      .service-icon {
        width: 100px;
        margin: 0px auto;
        box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.4);
        border-radius: 50%;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;

        img{
          width:64px;
        }
      }
    }
    .services-entry-header{
      width:100%;
      max-width:500px;
      margin:0px auto;
      padding-bottom:30px;
      text-align: center;
      h3{
        font-weight: 700;
      }
    }
  }

}
@media (min-width:576px) {

}
@media (min-width:768px) {
  .about-us-banner{
    height:500px;
  }
  .why-choose-us{
    .why-choose-left-image{
      min-height:unset;
    }
  }
}
@media (min-width:992px) {

}
@media (min-width:1200px) {

}
@media (min-width:1400px) {

}
