@media (min-width:0) {
  .contact-us {
    .page-title {
      padding: 20px 0 30px;

      h1 {
        text-align: center;
        margin: 0;
        font-family: arial;
        font-size: 36px;
        line-height: 45px;
        font-weight: 700;
        color: #1e1e1e;
      }
    }
    .container-fluid {
      .flex-row {
        .form-outer {
          flex-basis: 65%;

          .contact-form {
            form {
              .alert {
                margin-top: 30px;

                p {
                  margin-bottom: 0;
                }
              }

              .double-col {
                justify-content: space-between;

                .form-group {
                  width: 100%;

                  &.email-box {
                    margin-top: 30px;
                  }

                  input {
                    border-top: 0;
                    border-left: 0;
                    border-right: 0;
                    border-bottom: 1px solid #1e1e1e;
                    border-radius: 0;
                    padding: 0 15px 15px 0;
                    font-family: Ubuntu;
                    font-size: 12px;
                    line-height: 14px;
                    font-weight: 400;
                    letter-spacing: 1px;
                    color: #1e1e1e;

                    &:focus {
                      box-shadow: none;
                    }

                    &::placeholder {
                      text-transform: uppercase;
                      opacity: 0.7;
                      font-family: Ubuntu;
                      font-size: 12px;
                      line-height: 14px;
                      font-weight: 400;
                      letter-spacing: 1px;
                    }
                  }
                }
              }

              .single-col {
                margin-top: 30px;

                .form-group {
                  textarea {
                    border-top: 0;
                    border-left: 0;
                    border-right: 0;
                    border-bottom: 1px solid #1e1e1e;
                    border-radius: 0;
                    padding: 0 15px 15px 0;
                    resize: none;
                    font-family: Ubuntu;
                    font-size: 12px;
                    line-height: 14px;
                    font-weight: 400;
                    letter-spacing: 1px;
                    color: #1e1e1e;

                    &:focus {
                      box-shadow: none;
                    }

                    &::placeholder {
                      text-transform: uppercase;
                      opacity: 0.7;
                      font-family: Ubuntu;
                      font-size: 12px;
                      line-height: 14px;
                      font-weight: 400;
                      letter-spacing: 1px;
                    }
                  }
                }
              }

              .form-submit {
                margin-top: 30px;
                .btn {
                  width: 100%;
                  max-width: 402px;
                  font-family: Ubuntu;
                  font-size: 12px;
                  line-height: 14px;
                  letter-spacing: 1px;
                  color: #1e1e1e;
                }
              }
            }
          }
        }
        .address-outer {
          flex-basis: 35%;
          padding-bottom: 61px;
         

          .address-box {
            text-align: center;
            h5 {
              margin-bottom: 10px;
              font-family: Ubuntu;
              font-weight: 700;
              font-size: 14px;
              line-height: 16px;
              color: #1e1e1e;
              letter-spacing: 1px;
            }
            p {
              font-size: 16px;
              line-height: 26px;
              font-family: Ubuntu;
              font-weight: 300;
              color: #1e1e1e;
              margin-bottom: 0;

              &strong {
                font-weight: 700;
              }
            }
          }
          .contact-by {
            margin-top: 40px;
            text-align: center;

            h5 {
              margin-bottom: 10px;
              font-family: Ubuntu;
              font-weight: 700;
              font-size: 14px;
              line-height: 16px;
              color: #1e1e1e;
              letter-spacing: 1px;
            }
            strong {
              margin-bottom: 10px;
              a {
                text-decoration: none;
                font-weight: 700;
                font-size: 16px;
                line-height: 26px;
                font-family: Ubuntu;
                color: #1e1e1e;
              }
            }
            p {
              margin-bottom: 0;
              a {
                text-decoration: none;
                font-weight: 300;
                font-size: 16px;
                line-height: 26px;
                font-family: Ubuntu;
                color: #1e1e1e;
              }
            }
            span {
              margin-bottom: 10px;
              font-weight: 300;
              font-size: 16px;
              line-height: 26px;
              font-family: Ubuntu;
              color: #1e1e1e;
            }
          }
        }
      }
    }
  }
}
@media (min-width:576px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
  .contact-us {

    .page-title {
      padding: 20px 0;

      h1 {
        font-size: 48px;
        line-height: 60px;
        text-align: left;
      }
    }
    .container-fluid {
      .flex-row {
        .form-outer {
          flex-basis: 65%;
          padding-right: 20px;
          padding-top: 50px;
          height: 656px;

          .contact-form {
            form {
              .alert {
                margin-top: 30px;
              }
              .double-col {
                .form-group {
                  width: 48.6%;
                  &.email-box {
                    margin-top: 0;
                  }
                  input {
                    font-size: 14px;
                    line-height: 16px;

                    &::placeholder {
                      font-size: 14px;
                      line-height: 16px;
                    }
                  }
                }
              }
              .single-col {
                margin-top: 30px;
                .form-group {
                  textarea {
                    font-size: 14px;
                    line-height: 16px;

                    &::placeholder {
                      font-size: 14px;
                      line-height: 16px;
                    }
                  }
                }
              }
              .form-submit {
                margin-top: 40px;
                .btn {
                  width: 402px;
                  font-size: 14px;
                  line-height: 16px;
                }
              }
            }
          }
        }

        .address-outer {
          margin-top: 35px;
          padding-top: 40px;
          .address-box {
            text-align: left;
            h5 {
              margin-bottom: 20px;
              font-size: 16px;
              line-height: 18px;
            }
            p {
              font-size: 18px;
              line-height: 28px;
            }
          }
          .contact-by {
            margin-top: 50px;
            text-align: left;

            h5 {
              margin-bottom: 20px;
              font-size: 16px;
              line-height: 18px;
            }
            strong {
              margin-bottom: 10px;
              a {
                font-size: 18px;
                line-height: 28px;
              }
            }
            p {
              margin-bottom: 0;
              a {
                font-size: 18px;
                line-height: 28px;
              }
            }
            span {
              margin-bottom: 10px;
              font-size: 18px;
              line-height: 28px;
            }
          }
        }
      }
    }
  }
}
@media (min-width:1200px) {
}
@media (min-width:1400px) {
}
