@media (min-width:0) {
.login-register{
    .login-part {
        width: 100%;
        max-width: 375px;
        margin: 0px auto;
    }
    .register-part {
        width: 100%;
        max-width: 375px;
        margin: 0px auto;
    }
}
}
@media (min-width:576px) {
    
}
@media (min-width:768px) {
    
}
@media (min-width:992px) {
    
}