@media (min-width: map-get($grid-breakpoints, 'xs')) {
  .spinner-grows{
    img{
      width:50px;
    }
  }
  .product-listing {
    .side-bar-container {
      height: 100%;
    }

    .side-bar {
      overflow: auto;
      padding-top: 40px;
      padding-bottom: 40px;
      scroll-behavior: smooth;

      .options {
        white-space: nowrap;
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;

        .option {
          display: inline-block;
          padding-left: 20px;
          padding-right: 20px;

          .link {
            color: #1e1e1e;
            font-size: 16px;
            line-height: 18px;
            letter-spacing: 0.1em;
            text-decoration: none;
            text-transform: uppercase;

            &.active,
            &:hover {
              font-weight: 700;
            }
          }
        }
      }
    }

    .listing-main {
      display: flex;
      flex-direction: column;
      height: 100%;

      .entry-header {
        align-items: center;
        display: flex;
        justify-content: center;
        padding-bottom: 16px;

        .title {
          font-family: arial;
          font-size: 36px;
          font-weight: 700;
          line-height: 45px;
          margin-bottom: 0;
        }
      }

      .products {
        margin-bottom: 15px;

        .box {
          box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.1);
          display: flex;
          flex-direction: column;
          height: 268px;
          margin-bottom: 10px;
          padding: 20px 15px;
          position: relative;
          transition: box-shadow 0.3s ease;
          z-index: 1;

          .offer-wrap {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 9;

            svg {
              animation: Spin 20s linear infinite;
            }

            .offer {
              position: relative;
              top: -17px;
              right: -10px;
              z-index: 99;

              .offer-text {
                align-items: center;
                display: flex;
                flex-direction: column;
                font-family: arial;
                font-size: 18px;
                font-weight: 700;
                height: 100%;
                justify-content: center;
                left: 0;
                line-height: 18px;
                position: absolute;
                top: 0;
                transform: rotate(6deg);
                width: 100%;
              }
            }
          }

          .product {
            display: flex;
            height: 100%;
            flex-direction: column;
            justify-content: space-between;
            overflow: hidden;
            position: relative;

            .product-img {
              align-items: center;
              display: flex;
              flex-grow: 1;
              justify-content: center;

              img {
                max-width: 100%;
                height: auto;
              }
            }

            .content {
              align-items: center;
              display: flex;
              flex-direction: column;

              .title {
                color: #1e1e1e;
                font-size: 18px;
                font-weight: 300;
                line-height: 28px;
                text-align: center;
                margin-bottom: 7px;
              }

              .price {
                color: #1e1e1e;
                font-size: 24px;
                font-weight: 700;
                line-height: 28px;
                margin-bottom: 0;
              }
            }

            .actions {
              position: absolute;
              display: flex;
              flex-direction: column;
              height: 75%;
              justify-content: center;
              left: 50%;
              max-width: 260px;
              top: 0;
              transform: translateX(-50%);
              width: 100%;
              z-index: 10;
            }
          }

          &:hover {
            box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.3);

            .product {
              .actions {
              }
            }
          }
        }

        .pagination {
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}
@media (min-width: 385px) {
  .product-listing {
    .listing-main {
      .products {
        .box {
          .product {
            .product-img {
              img {
                max-width: 136px;
              }
            }
          }
        }
      }
    }
  }
}
@media (min-width: map-get($grid-breakpoints, 'sm')) {
  .product-listing {
    .listing-main {
      .products {
        .box {
          height: 230px;
        }
      }
    }
  }
}
@media (min-width: map-get($grid-breakpoints, 'md')) {
}
@media (min-width: 992px) {
  .product-listing {
    .side-bar-outer {
      width: 100%;
      margin: 0 0 0 auto;
    }
    .side-bar-container {
      height: 100%;
      padding-top: 148px;
    }

    .side-bar {
      border: 1px solid #3e7b02;
      width: 90%;
      padding-top: 0;
      padding-bottom: 0;
      margin: 0 0 0 auto;

      .header {
        align-items: center;
        background-color: #3e7b02;
        color: #ffffff;
        display: flex;
        height: 50px;
        justify-content: center;

        h4 {
          font-size: 16px;
          line-height: 18px;
          letter-spacing: 0.1em;
          margin-bottom: 0;
        }
      }

      .options {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 5px;
        padding-left: 0;
        margin-bottom: 0;

        li {
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
          width: 100%;
          text-align: center;
          padding: 10px;

          a {
            text-decoration: none;
            color: #000;
          }
          &:last-child{
            border-bottom:none;
          }
        }

        .option {
          width: 100%;
          display: flex;
          justify-content: center;
          padding-top: 25px;
          padding-left: 0;
          padding-right: 0;

          .link {
            color: #1e1e1e;
            font-size: 16px;
            line-height: 18px;
            letter-spacing: 0.1em;
            text-decoration: none;

            &.active,
            &:hover {
              font-weight: 700;
            }
          }
        }
      }
    }

    .listing-main {
      .entry-header {
        padding-top: 50px;
        padding-bottom: 50px;

        .title {
          font-size: 48px;
          line-height: 48px;
          margin-bottom: 0;
        }
      }

      .products {
        .box {
          height: 360px;
          margin-bottom: 20px;
          padding: 0px 20px 20px;

          .offer-wrap {
            .offer {
              top: -41px;
              right: -22px;

              .offer-text {
                font-size: 36px;
                line-height: 36px;
              }
            }
          }

          .product {
            .product-img {
              img {
                max-width: 183px;
              }
            }
          }
        }
      }
    }
  }
}
@media (min-width: 1200px) {
  .product-listing {
    .listing-main {
      .products {
        .box {
          height: 410px;

          .product {
            .product-img {
              img {
                max-width: 238px;
              }
            }
          }
        }
      }
    }
  }
}
@media (min-width: 1400px) {
  .product-listing {
    .listing-main {
      .products {
        
      }
    }
  }
}
