@media (min-width: map-get($grid-breakpoints, 'xs')) {
  .shopify-page {
    .container-fluid {
      .page-data {
        .page-title {
          padding: 40px 0 20px;
          h1 {
            font-family: arial;
            font-weight: 700;
            font-size: 26px;
            line-height: 45px;
            color: #1e1e1e;
            text-align: left;
            margin-bottom: 0;
          }
        }
        .content {
          p {
            font-size: 14px;
            line-height: 24px;
            font-family: Ubuntu;
            font-weight: 400;
            color: #1e1e1e;
            strong {
              font-weight: 700;
            }
          }
          h1 {
            font-size: 22px;
            line-height: 28px;
            font-family: Ubuntu;
            margin-bottom: 0;
          }
          h2 {
            font-size: 18px;
            line-height: 22px;
            font-family: Ubuntu;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
@media (min-width: map-get($grid-breakpoints, 'sm')) {
}
@media (min-width: map-get($grid-breakpoints, 'md')) {
}
@media (min-width: 992px) {
  .shopify-page {
    .container-fluid {
      .page-data {
        .page-title {
          padding: 50px 0;
          h1 {
            font-size: 30px;
            line-height: 30px;
          }
        }
        .content {
          p {
            font-size: 16px;
            line-height: 28px;
          }
          h1 {
            font-size: 24px;
            line-height: 30px;
          }
          h2 {
            font-size: 20px;
            line-height: 24px;
          }
        }
      }
    }
  }
}
@media (min-width: 1200px) {
}
@media (min-width: 1400px) {
}
